.recipe {
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

.title {
    background-color: #00a4aa;
    background-image: linear-gradient(45deg, #00a4aa, #00073b);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}

.title-hr {
    display: block;
    background: #00a4aa;
    height:  0.25rem;
    width: 6.25rem;
    border: none;
    margin: 0.125rem 0 0.875rem 0;
}

.video_section {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio (altezza / larghezza) */
}
  
.video_section iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.ingredients_and_details {
    width: 100%;
    display: flex;
    padding: 2%;
}

.ingredients_section {
    min-height: 30vh;
}

@media screen and (max-width: 1100px) {
    .ingredients_and_details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details {
        width: 100%!important;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

.ingredients {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tre colonne di uguale larghezza */
    gap: 1rem; /* Spazio tra gli elementi della griglia */
    margin-bottom: 3%;
}

.recipe_h1 {
    margin-bottom: 2%;
    background-color: #00a4aa;
    background-image: linear-gradient(45deg, #00a4aa, #00073b);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centra il testo orizzontalmente */
    width: 40%;
    background-color: cornflowerblue;
}

.instructions-section {
    padding: 2%;
}

.instructions {
    text-align: justify;
}

.miniature-rec {
    float: left;
    margin-right: 2%;
}

.instructions-p {
    margin-bottom: 1%;
}

