.newsbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Due colonne con larghezza uguale */
    grid-template-rows: 10.4% auto auto auto;
    gap:18px; /* Spazio tra le immagini */
    padding: 0 20px 0 20px;
    margin-left: 1%;
    position: -webkit-sticky;
    position: sticky;
    top: 41.67px; /*Altezza della socialBar*/
    width: 37%;
    max-height: 650.06px;
    padding-bottom: 1.7%;
}

.news-title {
    grid-column: 1 / span 2;
    margin: auto;
}

.news-text {
    background-color: #00a4aa;
    background-image: linear-gradient(45deg, #00a4aa, #00073b);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 3em;   
    letter-spacing: 0.8px;
}

.newsbar hr {
    display: block;
    background: #00a4aa;
    height:  0.25rem;
    width: 5.25rem;
    border: none;
}

.image-container {
    position: relative;
    height: 100%;
    min-height: 20vh;
    transition: 180ms opacity ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 1100px) {
    .newsbar {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 15vh 1fr 1fr;
        margin: 0;
        position: static !important;
        min-width: 78%;
        padding-bottom: 0;
    }

    .news-title {
        grid-column: 1 / span 3;   
    }

    .image-container {
        min-height: 200px;
        transition: 180ms opacity ease-in-out;
    }
}


@media screen and (max-width: 1040px) {
    .newsbar {
        grid-template-columns: repeat(2, 1fr); /* Due colonne con larghezza uguale */
        grid-template-rows: 10.4% auto auto auto;
    }

    .news-title {
        grid-column: 1 / span 2;   
    }

    .image-container {
        min-height: 200px;
        transition: 180ms opacity ease-in-out;
    }
}

@media screen and (max-width: 586px) {
    .newsbar {
        grid-template-columns: 1fr;
        grid-template-rows: 15vh auto auto auto auto;
        margin: 0;
        position: static !important;
        min-width: 78%;
        padding-bottom: 0;
        max-height: none;
    }
    .news-title {
        all: unset;   
    }
}



.overlayDiv {
    position: absolute;
    top: 100%; /* Metà dell'altezza dell'overlayDiv */
    left: 50%; /* Al centro orizzontalmente */
    transform: translate(-50%, -50%); /* Sposta di -50% rispetto a se stesso */
    background-color: rgb(39, 55, 71);
    color: white;
    padding: 5px;
    display: flex; /* Utilizza il layout flexbox */
    align-items: center; /* Allinea verticalmente al centro */
    justify-content: center; /* Allinea orizzontalmente al centro */    
}

.overText {
    color: white;
    font-size: 0.8em;
    white-space: nowrap;
    text-transform: uppercase;
}
  
@media screen and (max-width: 768px) {
    .overText {
      font-size: 0.7rem;
    }
}
  
@media screen and (max-width: 502px) {
    .overText {
      font-size: 0.5rem;
    }
}

.overText:hover {
    text-decoration: none; /* Rimuove la sottolineatura durante il passaggio del mouse */
    color: inherit; /* Mantiene il colore predefinito durante il passaggio del mouse */
}

