.cook-book {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 78vw;
    justify-items: center;
    margin-bottom: 1%;
    gap: 5px;
}
  
.card {
    height: auto; /* Utilizziamo l'altezza automatica per adattarsi al contenuto */
    position: relative;
    margin-top: 35px; /* Margini uniformi */
}
  
.poster-container {
    width: 100%; /* Utilizziamo larghezza al 100% per riempire il contenitore padre */
    position: relative; /* Posizione relativa per consentire il posizionamento assoluto dei figli */
}
  
.poster {
    width: 100%; /* Utilizziamo altezza al 100% per adattare l'immagine al contenitore */
    object-fit: cover; /* Per mantenere l'aspect ratio senza distorsione */
    border-radius: 5px; /* Aggiungiamo bordi arrotondati */
    display: block;
}
  
.title-container {
    width: 100%; /* Larghezza al 100% per adattarsi al contenitore padre */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0; /* Allineamento a sinistra */
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s; /* Aggiunta una transizione per l'opacità */
}
  
.card:hover .title-container {
    opacity: 1;
}
  
.title-content {
    width: 100%;
    padding: 20px; /* Aggiunta spaziatura interna */
    box-sizing: border-box; /* Include padding nella larghezza dichiarata */
    text-align: center;
}

.link-custom {
    text-decoration: none;
}

.title-card {
    
    font-size: clamp(12px, 3vw, 36px);
    margin-bottom: 2%;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.read-button {
    background-color: transparent;
    color: aliceblue;
    border: 2px solid #fff;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: clamp(12px, 3vw, 20px);
    cursor: pointer;
    margin-top: 1%;
}
  



